/* ROOT */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.header-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content img{
  width: 100%;
}

/* MAIN HERO */

.hero-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

#img-hero{
  width: 83vw;
  height: 10rem;
}

.elements-hero{
  display: flex;
  flex-wrap: wrap;
  width: 83vw;
  
}

.elements-hero h1{
  font-size: 16px;
  margin-top: .5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.elements-hero span{
  font-size: 10px;
  color: gray;
  width: 180px;
  margin-top: 0.8rem;
  padding-bottom: 0.3rem;
  border-bottom: 3.5px solid;
  border-image: linear-gradient(45deg, #c73d62 , #7a618a);
  border-image-slice: 1;
  
}

.elements-hero p{
  color: #79797a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  
}

/* MAIN GRID */

.container-grid{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;

}
.card-grid1{
  justify-items: center;
  align-items: center;
  display: grid;
  margin-top: 2rem;
}

#img-grid1{
  width: 70vw; 
  height: 10.75rem;
  justify-content: center;
 
}

.elements-card1{
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
}

.elements-card1 h1{
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.4rem;
}

.elements-card1 span{
  font-size: 10px;
  color: gray;
  margin-top: 1rem;
  width: 10rem;
  padding-bottom: 0.3rem;
  border-bottom: 3.5px solid;
  border-image: linear-gradient(45deg, #83b4c7 , #67649b);
  border-image-slice: 1;
  
}

.card-grid2{
  justify-items: center;
  align-items: center;
  display: grid;
  margin-top: 2rem;
 
}

#img-grid2{
  width: 70vw;
  height: 10.75rem;
}

.elements-card2{
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
}

.elements-card2 h1{
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.4rem;
}

.elements-card2 span{
  font-size: 10px;
  color: gray;
  margin-top: 1rem;
  width: 10rem;
  padding-bottom: 0.3rem;
  border-bottom: 3.5px solid;
  border-image: linear-gradient(45deg, #7abebc , #54a78b);
  border-image-slice: 1;
}



/* FOOTER PAGE 
---------------- */

.card-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
}

.card-footer img{
  width: 100vw;
  margin-top: 1rem;
}

.text-footer{
  color: #898b8a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  width: 100%;
  background-color: #f1f1f1;
  padding: 1rem;
  text-align: center;  
}

.text-footer a{
  color: #78797a;
}


@media (min-width: 768px) {
 
  .header-content img{
    width: 100%;
    height: 13rem;
  }

  #img-hero{
    width: 85vw;
    height: 13rem;
  }


  .container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85vw;
    justify-items: flex-start;
  }

  #img-grid1{
    width: 41vw; 
    height: 10.75rem;
  }

  
  #img-grid2{
    width: 41vw; 
    height: 10.75rem;
  }

  .elements-card1{
    display: flex;
    align-items: center;
    text-align: center;
    width: 41vw;
  }

  .elements-card1 h1{
    display: flex;
    align-items: center;
    text-align: left;
    width: 42vw;
    font-size: 16px;
  }

  .elements-card1 span{
    font-size: 11px;
    text-align: left;
  }
  
  .elements-card2{
    display: flex;
    align-items: center;
    text-align: center;
    width: 41vw;
  }
  .elements-card2 h1{
    display: flex;
    align-items: center;
    text-align: left;
    width: 38vw;
    font-size: 16px;
  }
  
  .elements-card2 span{
    font-size: 11px;
    text-align: left;
  }
  
  .responsive-grid{
    justify-items: center;
    display: grid;
    align-items: center;

  }

  .card-footer img{
    width: 100vw;
    margin-top: 1rem;
    height: 5rem;
  }
  
  .text-footer{
    font-size: 12px;
    width: 100%;
    background-color: #f1f1f1;
    padding: 1rem;
    text-align: center;
     
  }

}


@media(min-width: 1024px) {
  .header-content img{
    width: 85%;
    height: 13rem;
  }

  #img-hero{
    width: 75%;
    height: 20rem;
  }

  .elements-hero{
    display: flex;
    flex-direction: column;
    width: 75%;
  }

  .container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    justify-items: flex-start;
  }

  #img-grid1{
    width: 23rem; 
    height: 13.75rem;
  }

  
  #img-grid2{
    width: 23.5rem; 
    height: 13.75rem;
  }

  .elements-card1{
    display: flex;
    align-items: center;
    text-align: center;
    width: 23rem;
  }

  .elements-card1 h1{
    display: flex;
    align-items: center;
    text-align: left;
    width: 42vw;
    font-size: 15px;
  }

  .elements-card1 span{
    font-size: 11px;
    text-align: left;
  }
  
  .elements-card2{
    display: flex;
    align-items: center;
    text-align: center;
    width: 23.5rem;
  }
  .elements-card2 h1{
    display: flex;
    align-items: center;
    text-align: left;
    width: 38vw;
    font-size: 15px;
  }
  
  .elements-card2 span{
    font-size: 11px;
    text-align: left;
  }
  
  .responsive-grid{
    justify-items: center;
    display: grid;
    align-items: center;

  }

  .card-footer img{
    width: 85%;
    margin-top: 1rem;
    height: 5rem;
  }
  
  .text-footer{
    font-size: 12px;
    width: 100%;
    background-color: #f1f1f1;
    padding: 1rem;
    text-align: center;
     
  }

}

@media(min-width: 1200px) {
  .header-content img{
    width: 65%;
    height: 10rem;
  }

  #img-hero{
    width: 40rem;
    height: 15rem;
  }

  .elements-hero{
    display: flex;
    flex-direction: column;
    width: 44.4rem;
    margin-left: 4.4rem;
  }

  .container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40rem;
    justify-items: flex-start;
    grid-gap: 0.5rem;
  }

  #img-grid1{
    width: 19rem; 
    height: 13rem;
  }

  
  #img-grid2{
    width: 19rem; 
    height: 13rem;
  }

  .elements-card1{
    display: flex;
    align-items: center;
    text-align: center;
    width: 19rem;
  }

  .elements-card1 h1{
    display: flex;
    align-items: center;
    text-align: left;
    width: 42vw;
    font-size: 16px;
  }

  .elements-card1 span{
    font-size: 11px;
    text-align: left;
  }
  
  .elements-card2{
    display: flex;
    align-items: center;
    text-align: center;
    width: 19rem;
  }
  .elements-card2 h1{
    display: flex;
    align-items: center;
    text-align: left;
    width: 38vw;
    font-size: 16px;
  }
  
  .elements-card2 span{
    font-size: 11px;
    text-align: left;
  }
  
  .responsive-grid{
    justify-items: center;
    display: grid;
    align-items: center;

  }

  .card-footer img{
    width: 65%;
    margin-top: 2rem;
    height: 5rem;
  }
  
  .text-footer{
    font-size: 12px;
    width: 65%;
    background-color: #f1f1f1;
    padding: 1rem;
    text-align: center;
     
  }

}

@media(min-width: 1440px) {
  .header-content img{
    width: 80%;
    height: 14rem;
  }

  #img-hero{
    height: 22rem;
    width: 65%;
  }

  .elements-hero{
    display: block;
    width: 70%;
  }

  .elements-hero h1{
    font-size: 20px;
  }

  .elements-hero p{
    font-size: 18px;
  }

  .elements-hero span{
    font-size: 13px;
  }

  .container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 65vw;
    justify-items: flex-start;
    grid-gap: 0.5rem;
  }

  #img-grid1{
    width: 31.5vw; 
    height: 14.75rem;
  }

  
  #img-grid2{
    width: 31.5vw; 
    height: 14.75rem;
  }

  .elements-card1{
    display: flex;
    align-items: center;
    text-align: center;
    width: 31.5vw;
  }

  .elements-card1 h1{
    display: flex;
    align-items: center;
    text-align: left;
    width: 42vw;
    font-size: 20px;
  }

  .elements-card1 span{
    font-size: 14px;
    text-align: left;
  }
  
  .elements-card2{
    display: flex;
    align-items: center;
    text-align: center;
    width: 31.5vw;
  }
  .elements-card2 h1{
    display: flex;
    align-items: center;
    text-align: left;
    width: 38vw;
    font-size: 20px;
  }
  
  .elements-card2 span{
    font-size: 14px;
    text-align: left;
  }
  
  .responsive-grid{
    justify-items: center;
    display: grid;
    align-items: center;

  }

  .card-footer img{
    width: 80%;
    margin-top: 1rem;
    height: 5rem;
  }
  
  .text-footer{
    font-size: 15px;
    width: 80%;
    background-color: #f1f1f1;
    padding: 1rem;
    text-align: center;
     
  }

}